<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Welcome to Word Ladder!</title>
    </head>
    <body>
        <h1>Welcome to Word Ladder!</h1>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/wordladders}" method="post">
            <div><label> From: <input type="text" name="from"/> </label></div>
            <div><label> To: <input type="text" name="to"/> </label></div>
            <div><input type="submit" value="Solve"/></div>
        </form>
    </body>
</html>
